
.header-wrapper{
    .navbar-brand {
        font-size: 28px;
        img{
            width: 100px;
        }
    }
    .email-id a {
        font-size: 20px;
        color: var(--primary-text-color);
        text-decoration: none;
        display: inline-block;
        margin-left: 50px;
    }
    

    .navbar-nav{
        li{
          a.nav-link{
            font-family: Circular-Std-Book;
            color: var(--primary-text-color);

            &.active {
              // Ensure the active link is also using the theme color
              color: var(--primary-text-color) !important; 
            }
          }
          .theme-toggle-btn {
            background: none; border: none; padding-top: 10px;
            cursor: pointer;
            i {
              font-size: 25px; color: var(--primary-text-color);
            }
          }
        }
      
    }
}



.my-logo{
  display: inline-block;
  width: 110px;
  position: relative;
  .logo-text {
      position: absolute;
      top: 34%;
      left: 33%;
      //font-family:Mark-Pro-Bold;
      font-size: 24px;
      line-height: 15px;
      z-index: 1;
      color: var(--primary-text-color);
      .bottom-logo {
          margin-left: 9.5px;
      }
  }
  text {
      fill: var(--primary-text-color);
      font-family: "Lato", sans-serif;
      font-size: 28px;
      font-weight: 500;
      text-transform: uppercase;
      font-variant-ligatures: none;
      letter-spacing: 6px;
      animation: rotate 25s linear infinite;
      transform-origin: 250px 250px;
    }
    
    svg{
      max-width: 80vmin;
      position: relative;
      z-index: 2;
    }
    
    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }
    
    .textcircle {
      transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
      transform-origin: 250px 250px;
    }
    
    svg:hover .textcircle {
      transform: scale(1.2) rotate(90deg);
    }
}


@media(max-width:479px){
  .header-wrapper{
    .email-id{
      a{
        margin-left: 0;
      }
    }
  }
}
