<section class="portfolio-section">
    <div class="row">
        <div class="col-md-12">
            <h2 class="common-heading">my project showcase</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="project-card">
                <div class="row">
                    <div class="col-md-3">
                        <div class="tech-card">
                           
                            <ul>
                                <li>
                                    <span class="tech-proj">Angular</span>
                                </li>
                                <li>
                                    <span class="tech-proj">TypeScript</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Restful API</span>
                                </li>
                                <li>
                                    <span class="tech-proj">Angular Material</span>
                                </li>
                                <li>
                                    <span class="tech-proj">Kendo UI</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Html</span>
                                </li>
                                <li>
                                    <span class="tech-proj">SCSS, CSS</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Bootstrap </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="project-details-info">
                            <h3>Technical Risk Underwriters</h3>
                           <p>I developed TRU's frontend architecture in Angular using the Micro frontend
                             approach, encompassing modules, components, and routing. 
                            This includes intricate grid templates and form designs featuring 
                            steppers and multiple accordions.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="projectinfo-card">
                            <img class="default-img" src="../../../assets/images/portfolio/project1.png" alt="TRU" />
                            <img class="onhover-img" src="../../../assets/images/portfolio/project2-trua.png" alt="TRU" />
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="project-card nutra">
                <div class="row">
                    <div class="col-md-3">
                        <div class="tech-card">
                           
                            <ul>
                                <li>
                                    <span class="tech-proj">Angular</span>
                                </li>
                                <li>
                                    <span class="tech-proj">TypeScript</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Restful API</span>
                                </li>
                                <li>
                                    <span class="tech-proj">Angular Material</span>
                                </li>
                                <li>
                                    <span class="tech-proj">Kendo UI</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Html</span>
                                </li>
                                <li>
                                    <span class="tech-proj">SCSS, CSS</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Bootstrap </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="project-details-info">
                            <h3> Nutra </h3>
                            <p> I developed Nutra's frontend architecture using Angular, HTML, TypeScript, and Sass CSS, including modules, reusable components, routing, and complex grid layouts, as well as popups and dynamic forms design. I also integrated APIs for this project.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="projectinfo-card">
                            <img class="default-img" src="../../../assets/images/portfolio/project2.png" alt="Nutra" />
                            <img class="onhover-img" src="../../../assets/images/portfolio/project2-nutra.png" alt="Nutra" />
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="project-card appia">
                <div class="row">
                    <div class="col-md-3">
                        <div class="tech-card">
                           
                            <ul>
                                <li>
                                    <span class="tech-proj">Angular</span>
                                </li>
                                <li>
                                    <span class="tech-proj">TypeScript</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Restful API</span>
                                </li>
                                <li>
                                    <span class="tech-proj">Angular Material</span>
                                </li>
                                <li>
                                    <span class="tech-proj">Kendo UI</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Html</span>
                                </li>
                                <li>
                                    <span class="tech-proj">SCSS, CSS</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Bootstrap </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="project-details-info">
                            <h3> Appia </h3>
                             <p> I developed Appia's frontend using JavaScript, HTML, Bootstrap, CSS, 
                                and jQuery, including reusable templates, complex grid layouts, and designs
                                 for popups and forms.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="projectinfo-card">
                            <img class="default-img" src="../../../assets/images/portfolio/project3.png" alt="Appia" />
                            <img class="onhover-img" src="../../../assets/images/portfolio/project2-appia.png" alt="Appia" />
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="project-card sw">
                <div class="row">
                    <div class="col-md-3">
                        <div class="tech-card">
                           
                            <ul>
                                <li>
                                    <span class="tech-proj">Angular</span>
                                </li>
                                <li>
                                    <span class="tech-proj">TypeScript</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Restful API</span>
                                </li>
                                <li>
                                    <span class="tech-proj">Angular Material</span>
                                </li>
                                <li>
                                    <span class="tech-proj">Kendo UI</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Html</span>
                                </li>
                                <li>
                                    <span class="tech-proj">SCSS, CSS</span>
                                </li>
                                <li>
                                    <span class="tech-proj"> Bootstrap </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="project-details-info">
                            <h3> Safe Water </h3>
                           <p>
                            I developed Safe Water's frontend using JavaScript, HTML, Bootstrap, CSS, and jQuery, including reusable templates,
                             tabs, complex grid layouts, and designs for popups and form steppers.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="projectinfo-card">
                            <img class="default-img" src="../../../assets/images/portfolio/project4.png" alt="Safe Water" />
                            <img class="onhover-img" src="../../../assets/images/portfolio/project2-safewater.png" alt="Safe Water" />
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>
