
<section class="experience-section">
    <div class="row">
        <div class="col-md-12">
            <h2 class="exp-title common-heading">journey through code & design</h2>
        </div>
    </div>

  <div class="row">
    <div class="col-md-4">
        <span class="company-logo">
            <a href="https://www.gunaatita.com/" target="_blank">
            <img src="../../../assets/images/gunaatita-logo.png" alt="Gunaatita Technology" />
            </a>
        </span>
    </div>
    <div class="col-md-8">
        <div class="exp-box">
            <div class="row">
                <div class="col-md-4">
                    <header class="mt-1" aria-label="2016 to Present">2015 — 2016</header>
                </div>
                <div class="col-md-8">
                        <article class="company-details">
                            <h3 class="">
                                <div>
                                    <a class="post" href="https://www.gunaatita.com/" target="_blank" rel="noreferrer noopener" aria-label="Lead UI / UX atGunaatita (opens in a new tab)"> <span class=""></span>
                                        <span>Lead UI / UX.
                                            <span class="inline-block"> Gunaatita Technology 
                                                <span class="company-links">
                                                    <img src="../../../assets/images/external-link.png" alt="company Links" />
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </h3>
                            <p class="detail-text">
                                Gunaatita has been a key player in insurance software development for a decade
                                <span class="responsibilities">
                                    Responsibilities
                                </span>
                                Innovative UI Leader, Inspiring Teams at Gunaatita.
                                I do user research and strategic planning to create exceptional user interfaces
                                while working with cross-functional teams. Proficient in developing original
                                themes, problem resolution, and a commitment to ongoing improvement.
                            </p>
                                 <ul class="used-tech mt-2" aria-label="Technologies I used">
                                    <li class="mt-2">
                                        <div class="tech">Angular</div>
                                    </li>
                                    <li class="mt-2">
                                            <div class="tech">TypeScript

                                            </div>
                                        </li>
                                        <li class="mt-2">
                                            <div class="tech">RxJS

                                            </div>
                                        </li>
                                        <li class="mt-2">
                                            <div class="tech">NgRx

                                            </div>
                                        </li>
                                        <li class="mt-2">
                                                <div class="tech">
                                                    React
                                                </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">
                                                    GASP
                                                </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Javascript</div>
                                            </li>
                                           
                                            <li class="mt-2">
                                                <div class="tech">Restful API</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Angular Material</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Kendo UI</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Html</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">SCSS, CSS </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Bootstrap </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Photoshop </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Figma </div>
                                            </li>
                                            
                        </ul>
                    </article>
                </div>
            </div>
            
        </div>
        
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <span class="company-logo">
            <a href="https://www.richpurple.com/" target="_blank">
                <img src="../../../assets/images/richpurple-logo.png" alt="Richpurple Intractive " />
            </a>
            
        </span>
    </div>
    <div class="col-md-8">
        <div class="exp-box">
            <div class="row">
                <div class="col-md-4">
                    <header class="mt-1" aria-label="2016 to Present">2016 — Present</header>
                </div>
                <div class="col-md-8">
                        <article class="company-details">
                            <h3 class="">
                                <div>
                                    <a class="post" href="https://www.richpurple.com/" target="_blank" rel="noreferrer noopener" aria-label="Lead UI / UX atGunaatita (opens in a new tab)"> <span class=""></span>
                                        <span> UI Developer.
                                            <span class="inline-block"> Richpurple Intractive 
                                                 <span class="company-links">
                                                    <img src="../../../assets/images/external-link.png" alt="company Links" />
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </h3>
                            <p class="detail-text">
                                RichPurple is a creative digital agency that specializes in developing advanced websites and mobile applications.
                                <span class="responsibilities">
                                    Responsibilities
                                </span>
                                Create and implement visually appealing, responsive user interfaces for web and mobile applications using HTML, CSS, and JavaScript. Collaborate with UX designers and backend developers to ensure seamless integration and optimal performance.
                            </p>
                                 <ul class="used-tech mt-2" aria-label="Technologies I used">
                                    <li class="mt-2">
                                        <div class="tech">Angularjs</div>
                                    </li>
                                 <li class="mt-2">
                                                <div class="tech">Javascript</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">JQuery</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Html</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">SCSS, CSS </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Bootstrap </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Photoshop </div>
                                            </li>
                                         
                                            
                        </ul>
                    </article>
                </div>
            </div>
            
        </div>
        
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <span class="company-logo the-webplant-logo">
            <a href="https://www.thewebplant.com/" target="_blank">
                 <img src="../../../assets/images/TheWebplant_logo.png" alt=" The Webplant " />
            </a>
        </span>
    </div>
    <div class="col-md-8">
        <div class="exp-box">
            <div class="row">
                <div class="col-md-4">
                    <header class="mt-1" aria-label="2016 to Present">2013 — 2015</header>
                </div>
                <div class="col-md-8">
                        <article class="company-details">
                            <h3 class="">
                                <div>
                                    <a class="post" href="https://www.thewebplant.com/" target="_blank" rel="noreferrer noopener" aria-label="Lead UI / UX atGunaatita (opens in a new tab)"> <span class=""></span>
                                        <span> UI Developer.
                                            <span class="inline-block"> The Web Plant 
                                                <span class="company-links">
                                                    <img src="../../../assets/images/external-link.png" alt="company Links" />
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </h3>
                            <p class="detail-text">
                                The Web Plant is a digital agency specializing in HubSpot CMS and CRM development. They excel in developing advanced websites and components for the HubSpot CMS platform.
                                <span class="responsibilities">
                                    Responsibilities
                                </span>
                                Design and develop engaging, responsive user interfaces for web and mobile applications using HTML, CSS, and JavaScript. Work with UX designers and backend developers to ensure smooth integration and high performance.
                            </p>
                                 <ul class="used-tech mt-2" aria-label="Technologies I used">
                                   
                                            <li class="mt-2">
                                                <div class="tech">Javascript</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">JQuery</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Html</div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech"> SCSS, CSS </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Bootstrap </div>
                                            </li>
                                            <li class="mt-2">
                                                <div class="tech">Photoshop </div>
                                            </li>
                                            
                        </ul>
                    </article>
                </div>
            </div>
            
        </div>
        
    </div>
  </div>


</section>