
.header-container-wrapper{
    min-height: 51px;
}
.body-container-wrapper {
    background: var(--primary-bg-color);
}
footer.footer-container-wrapper {
    background: var(--primary-bg-color);
    text-align: center;
    padding: 15px 0;
}