/* You can add global styles to this file, and also import other style files */

//@import url('https://unpkg.com/open-props/open-props.min.css');

@font-face {
    font-family:TT-Commons-Regular ;
    src: url(./assets/fonts/TT-Commons-Regular.otf)format("opentype"),
         url(./assets/fonts/TT-Commons-Regular.eot) format("eot"),
         url(./assets/fonts/TT-Commons-Regular.woff) format("woff"),
         url(./assets/fonts/TT-Commons-Regular.svg) format("svg"),
         url(./assets/fonts/TT-Commons-Regular.ttf) format("ttf");
}

@font-face {
    font-family:Hercules-Medium-Medium;
    src: url(./assets/fonts/Hercules-Medium-Medium.otf)format("opentype"),
         url(./assets/fonts/Hercules-Medium-Medium.eot) format("eot"),
         url(./assets/fonts/Hercules-Medium-Medium.woff) format("woff"),
         url(./assets/fonts/Hercules-Medium-Medium.svg) format("svg"),
         url(./assets/fonts/Hercules-Medium-Medium.ttf) format("ttf");
}
@font-face {
    font-family:ChamberiHeadline-Bold;
    src: url(./assets/fonts/ChamberiHeadline-Bold.otf)format("opentype"),
         url(./assets/fonts/ChamberiHeadline-Bold.eot) format("eot"),
         url(./assets/fonts/ChamberiHeadline-Bold.woff) format("woff"),
         url(./assets/fonts/ChamberiHeadline-Bold.svg) format("svg"),
         url(./assets/fonts/ChamberiHeadline-Bold.ttf) format("ttf");
}



@font-face {
    font-family:Circular-Std-Book;
    font-weight: normal;
    src: url(./assets/fonts/Circular-Std-Book.otf)format("opentype"),
         url(./assets/fonts/Circular-Std-Book.eot) format("eot"),
         url(./assets/fonts/Circular-Std-Book.woff) format("woff"),
         url(./assets/fonts/Circular-Std-Book.svg) format("svg"),
         url(./assets/fonts/Circular-Std-Book.ttf) format("ttf");
}

@font-face {
    font-family:Mark-Pro-Bold;
    src: url(./assets/fonts/Mark-Pro-Bold.otf)format("opentype"),
         url(./assets/fonts/Mark-Pro-Bold.eot) format("eot"),
         url(./assets/fonts/Mark-Pro-Bold.woff) format("woff"),
         url(./assets/fonts/Mark-Pro-Bold.svg) format("svg"),
         url(./assets/fonts/Mark-Pro-Bold.ttf) format("ttf");
}


body {
  // Light theme variables (default)
  --primary-bg-color: #ffffff;
  --primary-text-color: #111111;
  --secondary-text-color: #555555;
  --header-bg-color: #f8f9fa;
  --card-bg-gradient: linear-gradient(180deg, #f2f2f2, #e6e6e6);
  --card-border-color: #dddddd;
  --form-bg-color: #eeeeee;
  --text-stroke-color: rgba(0, 0, 0, 0.3);

  &.dark-theme {
    // Dark theme variables
    --primary-bg-color: #000000;
    --primary-text-color: #ffffff;
    --secondary-text-color: #595a71;
    --header-bg-color: #000000;
    --card-bg-gradient: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
    --card-border-color: #20222e;
    --form-bg-color: #2b2b2b;
    --text-stroke-color: rgba(255, 255, 255, 0.3);
  }
}

.bg-dark {
    background-color: var(--header-bg-color) !important;
}
.navbar {
        --bs-navbar-toggler-focus-width:0;
 }

.btn-primary {
    --bs-btn-bg: #eb4a4a;
    --bs-btn-border-color: #eb4a4a;
    --bs-btn-hover-bg: #cf3a3a;
    --bs-btn-hover-border-color: #cf3a3a;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #cf3a3a;
    --bs-btn-active-border-color: #cf3a3a;
    --bs-btn-active-shadow: inset 0 3px 5px rgb(168 145 145 / 13%);
    --bs-btn-disabled-bg: #b26e6e;
    --bs-btn-disabled-border-color: #b26e6e;
}
.form-control:focus,
.form-control {
    background: var(--form-bg-color);
    border-color: var(--form-bg-color);
    box-shadow: none;
    color: var(--primary-text-color);
}
.form-control {
    min-height: 48px;
    color: var(--primary-text-color);
}

body{
    font-family:TT-Commons-Regular;
    font-weight: normal;
    line-height: 26px;
    font-size: 18px;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





h3{
    font-family:Circular-Std-Book;
}

h2{
    font-family: Mark-Pro-Bold;
}

.common-heading{
    display: inline-block;
    z-index: 2;
    position: relative;
    &::after{
    content: "";
    position: absolute;
    right: -25px;
    top: 8px;
    width: 46px;
    height: 41px;
    background: #CDDC39;
    z-index: -1;
    border-radius: 18px;


    }
}



@media(max-width:1200px){
    .container, .container-md{
        max-width:920px;
    }
}


@media(max-width:767px){
    .navbar-collapse {
        padding-left: 15px;
    }
}